.footer{
    padding: 8px 30px;     
    background-color:#fff;  
    &__desc{
        text-align: center;
        font-size: 15px;
        line-height: 24px;
        text-transform: capitalize;
        font-feature-settings: 'calt' off, 'kern' off;
        color: #2B2B2B;   
    }
}