.header{
    &__container{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        max-width: 108px;
        height: 100%;
        min-height: 1315px;
        padding: 50px 22px 0px 22px;
        background-color: #fff;
    }
    &__logo-link{
        display: inline-block;
        margin-bottom: 175px;
    }
    &__logo-link:hover{
        opacity: 0.8;
    }
    &__logo-link:hover{
        opacity: 0.6;
    }
    &__logo{
        display: block;
    }
}