.hero{
    padding-top: 93px;
    padding-bottom: 74px;
    padding-left: 60px;
    background-color: #fff;
    background-image:url("../images/myphoto.png");
    background-repeat:no-repeat;
    object-fit: contain;
    background-position: right bottom 30px;
    &__textbox{
        display: flex;
        flex-direction: column;
        width:100%;
        max-width:500px;
    }
    &__heading{
        margin: 0;
        padding: 0;
        margin-bottom: 16px;
        font-family: 'Inter 700';
        font-size: 48px;
        line-height: 123.6%;
        color: #2B2B2B;
    }
    &__heading span{
        color: #FFB400;
    }
    &__desc{
        margin: 0;
        padding: 0;
        margin-bottom: 25px;
        margin-right: 76px;
        font-family: 'Inter 400';
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
        font-feature-settings: 'calt' off, 'kern' off;
        color: #767676;
    }
    .img{
        display: inline-block;
        width:350px;
        height: 560px;
    }
}